/* If the viewport is <= 320px (Smallest view: iPhone 5)*/
@media only screen and (max-width: 320px) {
  .site-main .site-title h3 {
    margin-top: 0rem !important;
    font-size: 18px !important;
  }
  .site-main .site-title h1 {
    font-size: 22px !important;
  }
  .site-main .site-banner .site-title .site-buttons, .site-main .site-banner .site-title .social-links {
    transform: scale(0.75);
  }
  .site-main .site-banner .site-title a {
    margin-top: 4rem !important;
  }
  .footer-area .email-link {
    position: relative;
    right: 1.5rem;
  }
}

/* If the viewport is <= 340px */
@media only screen and (max-width: 340px) {
  .header_area .main-menu .navbar,
  .header_area .main-menu .navbar .navbar-brand,
  .site-main .contact-me-area .contact .contact-title,
  .site-main .contact-me-area .contact .contact-title p,
  .site-main .services-area,
  .site-main .contact-me-area .contact {
    padding: 2%;
    margin: 0%;
  }
  .site-main .site-banner .site-title h1 {
    font-size: 28px !important;
  }
  .site-main > .services-area .services {
    width: 13rem;
  }
  .project-area .element-item {
    left: -1.5em !important;
  }
  .project-area .our-project img, .project-area .our-project a {
    transform: scale(0.75) !important;
  }
  .project-area .our-project .title {
    padding-left: 2.75rem;
  }
  .project-area .our-project .title .text-uppercase {
    font: normal 700 20px/18px var(--roboto) !important;
  }
  .project-area .our-project .py-4 {
    padding-top: 0rem !important;
  }
}

/* If the viewport is <= 414px (iPhone 6/7/8 Plus) */
@media only screen and (max-width: 414px) {
  .site-main .site-title h3 {
    margin-top: 0rem !important;
  }
  .site-main .site-banner .site-title h1 {
    font-size: 32px;
  }
  .site-main .site-banner .site-title .site-buttons, .site-main .site-banner .site-title .social-links {
    transform: scale(0.75);
  }
  .site-main .site-banner .site-title a {
    margin-top: 6rem !important;
  }
  .project-area .our-project .title .text-uppercase {
    font-size: 20px !important;
  }
}

/* If the viewport is <= 440*/
@media only screen and (max-width: 440px) {
  .site-main .site-banner .site-title .site-buttons {
    padding: 0 0rem !important;
  }
  .glowy-gradient-style {
    transform: scale(0.8);
  }
  .site-main .site-banner .site-title .waving-emoji {
    height: 2.5rem !important;
    transform: translateY(-0.5rem) !important;
  }
}

/* If the viewport is <= 464px (Mobile screens) */
@media only screen and (max-width: 464px) {
  .project-area .our-project .project-details-overlay {
    margin-left: 0rem !important;
    top: 0rem !important;
    left: 10% !important;
  }
  .project-area .our-project .project-details-overlay a {
    padding: 0 0rem !important;
    right: 1.75rem;
    font-size: 1rem !important;
    /* width: 1rem !important; */
  }
}

/* Mobile layout overrides */
@media only screen and (max-width: 767px) {
  body {
    /* Dark gradient background theme */
    height: 130vh !important;
    background-color: #000000 !important;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%) !important;
  }
  h1 {
    font-size: 26px !important;
    letter-spacing: normal !important;
    text-align: center !important;
    margin-bottom: 0 !important;
  }
  h2 {
    font-size: 26px !important;
    margin-bottom: 0 !important;
  }
  h3 {
    font-size: 14px;
  }
  h4 {
    font-size: 28px !important;
    margin-bottom: 0 !important;
  }
  h1.title-text {
    font-size: 36px !important;
    text-align: left;
  }

  .site-main .site-banner {
    height: 74vh;
  }
  .site-main .site-banner .container {
    text-align: -webkit-center !important;
  }
  .site-main .site-banner .site-title  {
    text-align: center !important;
  }
  .site-main .site-banner .site-title h3 {
    font-size: 22px;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 7rem;
    color: #B2B2B2 !important;
  }
  .site-main .site-banner .site-title h3::after {
    content: none !important;
  }
  .site-main .site-banner .site-title h1 {
    color: white;
    text-align: center !important;
    font-size: 36px;
  }
  .site-main .site-banner .site-title p {
    font-size: 1.25rem !important;
  }
  .site-main .site-banner .site-title .txt-rotate {
    font-size: 1rem !important;
    padding-left: 1rem !important;
    color: #80DAFF !important;
  }
  .site-main .site-banner .site-title .cursor {
    font-size: 1.5rem !important;
    margin-right: 0rem !important;
  }
  .site-main .site-banner .site-title .site-buttons {
    display: block !important;
    text-align: center !important;
    padding: 0 7rem;
  }
  .site-main .site-banner .site-title .site-buttons a {
    font-weight: bold;
    letter-spacing: 1px;
    animation: pulse 4s infinite;
  }
  .site-main .site-banner .site-title a {
    text-align: center !important;
    width: 100%;
    /* padding-left: 24.5% !important; */
    margin-top: 10rem;
  }
  .site-main .site-banner .site-title .button {
    margin-right: 0 !important;
  }
  .site-main .site-banner .site-title .social-links {
    /* padding-left: 1rem; */
    font-size: 2.5em;
    margin-top: 0.5rem !important;
  }
  .site-main .site-banner .site-title .fab {
    color: #D3D3D3;
    transform: scale(0.8);
  }
  .header_area .main-menu .navbar {
    z-index: 3 !important;
    padding: 1rem 3rem !important;
  }
  /* .navbar, .navbar_fixed {
    display: none !important;
  } */
  .bg {
    display: none !important;
  }
  .site-main .site-banner .hero_scroll {
    display: none;
  }
  .about-area h1 {
    padding: 1rem !important;
  }
  .about-area .button {
    margin-right: 0 !important;
  }
  .project-area img {
    width: 311px !important;
    height: auto !important;
  }
  .project-area .button, .project-area button {
    /* width: 311px !important; */
    height: 50px !important;
    padding-left: 0 !important;
  }
  .project-area .our-project {
    transform: scale(1) !important;
    margin-bottom: 1rem !important;
    right: 0rem !important;
    left: 0rem !important;
  }
  .contact-title {
    width: 311px !important;
    height: auto !important;
  }
  .contact-me-area h4 {
    padding-top: 2rem;
    color: white;
  }
  .contact-me-area p {
    color: #B2B2B2;
  }
  .contact-me-area a, mr-4 {
    margin-right: 0 !important;
  }
  .contact-me-area .col {
    padding: 0 !important;
  }
  .contact-me-area .contact{
    width: 311px !important;
  }
  .project-area .row, .contact-me-area .row {
    margin: 0 0 0 0 !important;
    text-align: center !important;
    line-height: 3rem !important;
  }
  .contact-me-area .row {
    width: 311px !important;
  }
  .project-area .our-project .project-details-overlay {
    margin-top: 1.5rem !important;
    right: 8rem !important;
    width: 14rem;
  }
}

/* Tablet Layout overrides */
@media (max-width: 768px) {
  .col-md-6 {
    text-align: -webkit-center !important;
  }
  .site-main .site-banner .site-title .waving-emoji {
    height: 4.5rem;
    transform: translateY(-1rem);
  }
  .site-main .services-area .services {
    margin: 0 !important;
    margin-bottom: 2rem !important;
    transform: scale(1);
  }
  .site-main .services-area .container {
    text-align: -webkit-center;
  }
  .project-area .our-project {
    left: 2rem;
  }
  .site-main .project-area .button-group {
    display: none !important;
  }
  .project-area .our-project .project-details-overlay p {
    display: none;
  }
  .project-area .our-project .project-details-overlay {
    margin-top: 1.5rem !important;
    right: 8rem !important;
    width: 10rem;
  }
}

/* If the viewport is <= 792px */
@media only screen and (max-width: 792px) {
  .site-main .about-area .about-title h2 > span {
    font-size: 31px;
    letter-spacing: 10px;
  }
  .site-main .site-banner .hero_scroll {
    display: none;
  }
  .site-main .about-area .about-title p {
    padding: 0%;
  }
  .site-main .about-area .btn {
    margin-bottom: 5rem;
  }
  .site-main .services-area {
    padding-bottom: 5rem;
  }
  .site-main .project-area .button-group {
    display: none !important;
  }
}

/* If viewport is <= 990px */
@media only screen and (max-width: 990px) {
  .project-area .our-project .project-details-overlay {
    margin-left: 0rem !important;
    top: 0rem !important;
    left: 10% !important;
  }
  .project-area .our-project .project-details-overlay a {
    top: 2rem !important;
  }
}

@media only screen and (width: 1024px) {
  .services-area .services {
    position: relative;
    right: 2rem;
    transform: scale(0.8);
  }
}

/* If the viewport is <= 1200px. (Desktop 1024px and tablet layouts) */
@media only screen and (max-width: 1200px) {
  .about-area .about-title .resume {
    text-align: center;
  }
  .skills .first-skill-icon {
    margin-left: 2rem !important;
  }
  .skills .container {
    margin-left: auto;
  }
  .services-area .services {
    transform: scale(0.8);
  }
  .services-area .services-img, .services-area .text-center {
    transform: scale(1.1);
  }
  .services-area .services:hover {
    transform: scale(0.8);
  }
  .project-area .button-group button {
    font: normal 500 16px/10px var(--roboto) !important;
  }
  .project-area .button-group button:hover {
    transform: none !important;
  }
  .project-area .our-project {
    transform: scale(0.75);
    position: relative !important;
    right: 2rem;
  }
  .project-area .our-project .title .text-uppercase {
    font: normal 700 25px/26px var(--roboto) !important;
  }
  .project-area .our-project .py-4 .word-hider {
    display: none;
  }
  .project-area .our-project .project-details-overlay {
    margin-left: 5rem !important;
    top: 0rem !important;
  }
}

@media only screen and (max-width: 1940px) {
  .w-75 {
    width: 95% !important;
  }
}

/* In-between Mobile and Desktop Layout (Special cases) */
@media only screen and (max-width: 1780px) {
  .w-75 {
    width: 100% !important;
  }
}

/* If the viewport is <= 1910px */
@media only screen and (max-width: 1910px) {
  .header_area .main-menu .navbar {
    padding: 1rem;
  }

  /* .container {
    max-width: 90%;
  } */

  .site-main .services-area .services-title,
  .site-main .about-area {
    padding: 3% 4%;
  }
}


/* If the viewport is <= 2092px */
/* This is to re-adjust skills icons in About Me section when adding new skills */
@media only screen and (max-width: 2092px) {
  .site-main .about-area .skills .section-title {
    padding-right: 0;
  }
  .skills .first-skill-icon {
    margin-left: 0;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
  }
}