/* import fonts from fonts.css file */
@import url(fonts.css);
/* import css variables */
@import url(partials/variables.css);
/* import global styling */
@import url(partials/global.css);

/* start navigation */
a {
  color: #854fee;
}

.header_area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
  height: 60px;
  /* Navbar height for sticky navbar */
}

.header_area .main-menu .navbar {
  padding: 1rem 5rem;
}

.header_area .main-menu .nav-item .nav-link {
  font: normal 500 15px/2px var(--roboto);
  /* alternative way of specifying font-family and font-weight */
  /* font-family: var(--roboto); */
  text-transform: uppercase;
  /* font-weight: 500; */
  padding: 1.7rem;
  color: var(--text-color2);
}

.header_area .main-menu .navbar-nav .active a {
  /* background: var(--gradient-color); */
  background: var(--text-color2);
  -webkit-background-clip: text;
  /* -webkit-text-fill-color: transparent; */
  background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  transform: scale(1.1);
  transition: 100ms ease;
  font-weight: bold;
}

.header_area .main-menu .navbar-nav a::after {
  background: var(--gradient-color);
}

/* Offsetted elements for scrolling */
#about, #services, #projects, #contact {
  position: relative;
  z-index: -999;
  top: -160px;
}
/* end navigation */


/* Banner Area */
/* Auto Typing cursor */
/* Credits to Yipl-Frontenders-Snippets at: https://codepen.io/Yipl-Frontenders/pen/QjdMge */
.cursor {
  position: relative;
  right: 1.5%;
  font-size: 150%;
  font-weight: lighter;
  /* background-color: white; */
  color: white;
  z-index: 1;
  animation: flash 0.4s none infinite alternate;
}

@keyframes flash {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.01;
  }
}

.site-main {
  height: 100%;
}

.site-main .site-banner {
  height: 100vh;
  /* background: url(./img/banner/Fox.jpg) no-repeat 0% 50%; /* alternative way of specifying background-position */
  /* background-position: 0% 50%; */
  margin-bottom: 30%;
}
.site-main .site-banner .container {
  text-align: center;  /* Main item for center aligned site banner items */
}

.site-main .site-banner .site-title h3 {
  padding-top: 20%;
  font-weight: 500;
  transform: scale(0.9);
  color: #DDDDDD;
}

.site-main .site-banner .site-title h3::after {
  /* content: ""; */
  height: 2px;
  width: 15vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
  color: #DDDDDD;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
  /* color: #007EFF; */
  color: white;
}

.site-main .site-banner .banner-image>img {
  padding: 7rem;
  width: 90rem;
}

.site-main .site-banner .site-title .txt-rotate {
  padding-left: 2.25rem;
}

.site-main .site-banner .site-title .social-links {
  margin-top: 4rem;
  font-size: 1.5em;
}

.site-main .site-banner .hero_scroll {
  text-align: center;
  position: absolute;
  top: 78vh;
  width: 200px;
  margin: auto;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  color: #9F9F9F;
  opacity: 0.25;
}

.site-main .site-banner .hero_scroll:hover {
  transform: scale(1.05);
  opacity: 1;
  transition: 50ms ease;
}

.site-main .site-banner .hero_scroll:active {
  transform: scale(0.9);
}

.site-main .site-banner .hero_scroll .fa-chevron-down {
  transform: scale(2.5);
  -webkit-animation: bounce 2s infinite;
  padding: 2px;
  font-size: 2.75rem;
  color: #9F9F9F;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
/* End Banner Area */


/* Animated wave divider */
.wave-container-top {
  position: relative;
  color: #f6f6f6;
  text-align: center;
  overflow: hidden;
  height: 8rem;
  z-index: 5;
}

.filler {
  position: relative;
  color: #f6f6f6;
  background: #f6f6f6;
  height: 4rem;
}
.wave-container-bottom {
  position: relative;
  color: #f6f6f6;
  text-align: center;
  overflow: hidden;
  height: 5rem;
  top: 4rem;
  z-index: 6;
  transform: scaleY(-1);
}

svg path{
  animation: pathAnime 7s linear infinite;
  /* animation-timing-function: linear;
  animation-iteration-count: infinite; */
}
svg path:nth-child(2){
  animation-delay: 2s;
}
svg path:nth-child(3){
  animation-delay: 3s;
}
@keyframes pathAnime {
  0% {
    d: path("M0,192 C220, 100, 440, 100, 660, 192 C880, 290, 1100, 290, 1320, 192 L1320 1500 L0 500");
  }
  25% {
    d: path("M0,100 C220, 100, 440, 292, 660, 292 C880, 292, 1100, 100, 1320, 100 L1320 1500 L0 500");
  }
  50% {
    d: path("M0,192 C220, 290, 440, 290, 660, 192 C880, 100, 1100, 100, 1320, 192 L1320 1500 L0 500");
  }
  75% {
    d: path("M0,292 C220, 292, 440, 100, 660, 100 C880, 100, 1100, 292, 1320, 292 L1320 1500 L0 500");
  }
  100% {
    d: path("M0,192 C220, 100, 440, 100, 660, 192 C880, 290, 1100, 290, 1320, 192 L1320 1500 L0 500");
  }
}

/* Start About Area */
.site-main .about-area {
  position: relative;
  padding: 7rem 2rem;
  background-color: #f6f6f6;
}

.site-main .about-area .about-image {
  text-align: center;
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.site-main .about-area .img-fluid {
  /* position: relative; */
  max-width: 487px;
  height: auto;
  /* left: 30%; */
  /* text-align: center; */
  border-radius: 50%;
}

.site-main .about-area .about-title h1 {
  display: block;
  font: normal bold 49px/ 60px var(--roboto);
  letter-spacing: 14px;
}

.site-main .about-area .about-title .paragraph>p {
  padding: .4rem 0;
}

.site-main .about-area .skills .section-title {
  padding-right: 2rem;
}

/* Skills section (inside About Area) */
.skills {
  margin: 1rem 0 1.5rem 0;
}

.skills .container {
  padding: 0 !important;
}

/*  ************  Code for Skills Progress Bars  ************
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}
.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #45505b;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #EEEEEE;
}
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #0563bb;
}   ************  End of Code for Skills Progress Bars  ************  */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.flex-container > div {
  text-align: center;
}

.skills .container {
  margin-left: 0;
}

.skills .skill-icon {
  text-align: center;
  margin: 2rem 2rem;
}

.skills .skill-icon p {
  margin-top: 2rem;
  font-size: 1rem;
}

.skills .p-2 {
  padding: 0 !important;
}

.skills .skill-icon i {
  text-align: center;
  padding: 0;
  transform: scale(4);
  color: grey;
  transition: 150ms ease;
}

.skills .skill-icon i:hover {
  color: lightgrey;
}

.skills .first-skill-icon {
  margin-left: 0;
}

.skills .special-size-icon {
  width: 3rem;
}
/* End skills section */
/* End About Area */



/* Freelance Services Area */
.site-main .services-area {
  padding: 7rem 2rem;
  background-color: white;
}

.site-main .services-area .services-img {
  margin: auto;
  width: 55%;
}

.site-main .services-area .services-title {
  /* padding: 0 14rem; */
  /* position: relative; */
  margin-bottom: 3rem;
}

.site-main .services-area .services-title h1 {
  font-size: 35px;
}

.site-main .services-area .services {
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 0rem .5rem 2rem .5rem;
  transition: .4s ease;
}

.site-main .services-area .services:hover {
  box-shadow: var(--box-shadow);
  transform: scale(1.05);
}
/* End Freelance Services Area */


/* Projects Area */
.site-main .project-area {
  padding: 4rem 0 2rem 0;
  background-color: #f6f6f6;
}

.site-main .project-area .project-title {
  padding-top: 4rem;
}

.site-main .project-area .button-group button {
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
}

.site-main .project-area .button-group button+button {
  padding-left: 3rem;
}

.site-main .project-area .button-group button:hover {
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
  transform: scale(1.1);
  transition: 100ms ease;
  color: var(--primary-color2);
}

.site-main .project-area .button-group button:active {
  transform: scale(0.9);
  transition: 100ms ease;
}

.site-main .project-area .grid .our-project>.title h4 {
  font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project>.img a:hover img {
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
  transition: 200ms ease;
}

.site-main .project-area .grid .our-project>.img .project-5-img img {
  object-fit: cover;
}

.site-main .project-area .grid .our-project>.img .project-1-img:hover img {
  filter: brightness(1.2) drop-shadow(1px 8px 30px #b1afaf);
}

.site-main .project-area .grid .our-project>.img .project-5-img:hover img {
  filter: brightness(1.3) drop-shadow(1px 8px 30px #b1afaf);
}

.site-main .our-project img {
  width: 370px;
  height: 325px;
  border-radius: 3px;
}
/* End Projects Area */

/* Contact Me Area */
.contact-me-area {
  position: relative;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  padding-top: 7rem;
}

.site-main .contact-me-area .contact {
  padding: 2.5rem 0;
  margin: auto auto 1rem auto;
}

.site-main .contact-me-area .button.primary-button {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(133, 79, 238, 0.25);
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(133, 79, 238, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(133, 79, 238, 0);
  }
}

.site-main .contact-me-area .button.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  /* box-shadow: var(--box-shadow); */
  transform: scale(1.1);
  transition: .05s ease;
}

.site-main .contact-me-area .contact .contact-title h4 {
  font: normal bold 30px/50px var(--roboto);
  letter-spacing: 3px;
  color: white;
}

.col {
  text-align: center;
  padding: 1rem 0 0 1rem;
}
/* End Contact Me Area */

/* Footer Area */
footer.footer-area {
  padding: 6rem 4rem 4rem 4rem;
  text-align: center;
}

footer.footer-area .social h5 {
  font: normal 500 23px/ 30px var(--roboto);
}

footer.footer-area .social a>i {
  font-size: 22px;
  /* padding: 2rem; */
  color: var(--border-color);
}

footer.footer-area p {
  margin-bottom: 0;
}

footer .fab {
  padding: 0 2rem 2rem 2rem;
  color: var(--text-color2);
  transform: scale(0.7);
  text-align: left;
  padding: 3% 2.5% 3% 0.5%;
  margin-left: 0;
}

footer .fab:hover {
  color: var(--primary-color);
  transform: scale(0.8) translateX(2.5%);
  transition: 100ms ease;
}

.social-links .email-link {
  display: inline-block;
  font-size: 18px;
  /* padding-top: 3rem; */
  color: var(--text-color2);
}

.email-link:hover {
  color: var(--primary-color);
}
/* End Footer Area */

/* Scroll to top button */
.scroll_top .go_top {
  position: fixed;
  bottom: 2.5%;
  right: 0.1%;
  padding: 1rem;
}

.scroll_top .go_top.button.primary-button {
  border-radius: 16px !important;
}


.scroll_top .go_top.button.primary-button:hover > .fa-angle-double-up {
  /* border-radius: 16px !important; */
  /* transform: scale(1.1); */
  transition: 100ms ease;
  transform: scale(2);
}

.scroll_top .go_top.button.primary-button::after {
  border-radius: 16px !important;
  /* transform: scale(0.9); */
  transition: 100ms ease;
}

.scroll_top .go_top.button.primary-button:active {
  transform: scale(0.75);
  transition: 100ms ease;
}

.go_top .fa-angle-double-up {
  transform: scale(1.5);
}
